[Unit]
Description=Starts two docker containers for our Sandbox
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker-compose down
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down